$light-color: #f1f1f1;
$background-color: #201c77;

.MessageBox {
  width: 90vw;
  max-height: fit-content;

  background-color: $background-color;
  border: 2px solid $light-color;

  #MsgBox-TitleContainer {
    padding: 0.5rem 1rem;
    color: $light-color;
    h2 {
      font-size: clamp(1rem, 1rem, 1.5rem);
    }
  }

  #MsgBox-TextContainer {
    max-height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    margin: 0.3rem;
    padding: 1rem;

    color: $light-color;
    border: 1px solid rgba(241, 241, 241, 0.5);

    strong {
      font-size: clamp(1.5rem, 1.5rem, 2rem);
      animation: animateArrow 1s;
      animation-iteration-count: infinite;
    }
    #text-holder {
      max-height: 8vh;
      overflow: auto;
      display: flex;
      flex-direction: column-reverse;
      font-size: clamp(1rem, 1rem, 2rem);

      &::-webkit-scrollbar {
        width: 1px;
      }
    }
  }
}

@keyframes animateArrow {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
